/*background*/
body {
    background: #001524 url(Imagens/Trem.png) no-repeat left 100% top;    
}


/*Estilização primária*/
#content {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin: 8rem 12.5rem 0;
}

header {
    font-family: 'Inter', sans-serif;
    margin: 4rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: #0398FF;
    border-radius: 25px;
    height: 45.13px;
    border: none;
    text-align: center;
    line-height: 2.5;
    padding: 0 20px;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.4rem;
    /*line-height: 134%;*/
    margin-bottom: 1rem;
}


/*Estilização geral de elementos*/
.light-blue-elements {
    color: #0398FF;
}

.white-elements {
    color: #f7f7f7;
}

.blue-elements {
    color: #001524;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}


/*Estilização especifica de elementos*/
#accept{
    margin-top: 20px;
}

.checkbox-label {
    line-height: 15px;
    height: 15px;
    width: 15px;
    position: relative;
    margin-right: 25px;
    cursor: pointer;
    clear: both;
    display: inline
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 4.5px;
    top: 2px;
    /*Icone de de certo*/
    width: 4px;
    height: 7px;
    border: solid #009BFF;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

/*checkbox personalizada*/
.custom-checkbox input {
    display: none;
}

/*caixa de seleção no estado padrão: desmarcada*/
.custom-checkbox input+label:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 2.5px;
}

/*caixa de seleção no estado: verificada*/
.custom-checkbox input:checked+label:before {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 1px solid #FFFFFF;
}

.nav-menu {
    display: flex;
}

.nav-item {
    padding: 0px 15px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
}

#chose-ticket {
    vertical-align: middle;
    column-count: 2;
    margin-top: 30px;
    align-items: center;
    margin-right: 10px;
    display: flex;
}

#chose-ticket button:disabled {
    cursor: not-allowed;
}

.numberandom {
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    border: 1px dashed #FFFFFF;
    font-size: 14px;
    margin-left: 10px;
}

#home {
    width: 38rem;
}

.text-get {
    margin-top: 2rem;
    font-size: 1.1rem;
}

.description {
    margin-top: 1rem;
    line-height: 1.5rem;
    width: 28rem;
    font-size: 0.96rem;
}
