body {
    background-color: #ffffff;
}

/*Estilização primária*/
#content {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin: 8rem 10.1rem 0;
    line-height: 1.5rem;
    width: 50rem
}

header {
    font-family: 'Inter', sans-serif;
    margin: 4rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

/*Estilização geral*/
.color-text {
    color: #000000;
}

.nav-menu {
    display: flex;
}

.nav-item {
    padding: 0px 15px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
}

.terms {
    margin-top: 2rem;
}
